 *{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
 }

 #container {
   max-width: 960px;
   margin: 0 auto;
 }

 header {
   position: relative;
   padding: 40px;
   background: #222;
   color: #DDD;
   height: 5rem;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
   z-index: 2;
 }

 article {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 1px;
   padding: 50px 20px;
   background: #EEE;
 }

 .imageBox{
   flex: 1;
   text-align: center;
   flex-basis:120px;
 }

   .imageBox img{
     width: 80%;
     margin-bottom: 20px;
   }

 .textBox{
   flex: 3;
   flex-basis:240px;
 }

   .textBox h2 {
     width: 80%;
     margin: auto;
   }

   .textBox p{
     width: 80%;
     margin: auto;
     margin-bottom: 40px;
     text-align: justify;
   }

 footer {
   padding: 40px;
   background: #333;
   color: #DDD;
   text-align: center;
 }
